Click==7.0
Flask==1.0.2
Flask-API==1.0
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
Click==7.0
Flask==1.0.2
Flask-API==1.0
Flask-SQLAlchemy==2.3.2
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.12
Werkzeug==0.14.1
Click==7.0
Flask==1.0.2
Flask-API==1.0
Flask-SQLAlchemy==2.3.2
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
mysqlclient==1.3.13
SQLAlchemy==1.2.12
Werkzeug==0.14.1
